{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Canapet</title>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
    {% block STATIC_STYLE %}<link rel="stylesheet" media="screen" type="text/less" href="{{ style_path }}">{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.4.0/less.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash-compat/3.3.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="{% static 'scripts/libs/angular-locale_ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>

    {% block JSTop %}{% endblock %}

    <!--[if (gt IE 9)|!(IE)]><!-->
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
      <![endif]-->
      <!--[if lt IE 9]><script src="../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body ng-app="canapp">

    <header class="clearfix">
        <nav class="navbar navbar-static-top">
            <div class="container-fluid">
                <div class="col-lg-3 col-md-3 col-sm-3 navbar-header">
                    <a class="navbar-brand" href="/">Canapet</a>
                </div>
                <div class="collapse navbar-collapse">
                    <menu class="nav navbar-nav">
                        <li{% if slug == 'about' %} class="active"{% endif %}><a href="/about/">О нас</a></li>
                        <li{% if slug == 'menu' %} class="active"{% endif %}><a href="/menu/">Меню</a></li>
                        <li class="dropdown{% if slug == 'products' %} active{% endif %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Готовые предложения <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for event in events %}
                                    <li class="dropdown-header">{{ event.title }}</li>
                                        {% for product in products %}
                                            {% if product.event.id == event.id %}
                                                <li><a href="/products/{{ product.id }}/">{{ product.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    <li class="divider"></li>
                                {% endfor %}
                                {% comment %}<li><a href="/products/">Архив <span class="badge pull-right">{{ products|length }}</span></a></li>{% endcomment %}
                            </ul>
                        </li>
                        <li{% if slug == 'contacts' %} class="active"{% endif %}><a href="/contacts/">Контакты</a></li>
                    </menu>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge">{{ orders|length }}</span> Мои заказы <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for order in orders %}
                                    {% if order.status != 'delivered' %}
                                        <li><a href="/orders/{{ order.number }}/">{{ order.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="divider"></li>
                                <li class="dropdown-header">Последние заказы</li>
                                {% for order in orders %}
                                    {% if order.status == 'delivered' %}
                                        <li><a href="/orders/{{ order.number }}/">{{ order.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="/orders/">Все заказы <span class="badge pull-right">{{ orders|length }}</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="root">
        {% block alerts %}
            <div class="container alerts" ng-controller="globalMessages" ng-show="alerts.length">
                <alert ng-repeat="alert in alerts" type="{$ alert.type $}" close="closeAlert(alert)">{$ alert.msg $}</alert>
            </div>
        {% endblock %}

        {% block root_section %}
            <div class="jumbotron">
                <h3 class="text-center">Здесь должен быть перегружен основной блок с контентом</h3>
            </div>
        {% endblock %}
    </section>

    <footer class="footer">
        <div class="container">
            {% comment %}
            <nav class="navbar navbar-bottom" role="navigation">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="/menu/">Меню</a></li>
                        <li><a href="/products/">Готовые предложения</a></li>
                        <li><a href="/contact/">Контакты</a></li>
                    </ul>
                </div>
            </nav>
            {% endcomment %}
        </div>
    </footer>
    {% block JSBottom %}{% endblock %}
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32224624 = new Ya.Metrika({ id:32224624, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32224624" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
