{% extends "static.html" %}
{% load thumbnail %}


{% block root_section %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h2>Наша компания</h2>
                <figure><img src="http://livedemo00.template-help.com/wt_48629/img/page2_pic1.jpg" /></figure>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 hidden-xs">
                <h2>Обратная связь</h2>
                <form class="form" method="POST">
                    <div class="form-group">
                        <label for="email">Ваш email</label>
                        <input type="text" name="email" class="form-control" placeholder="me@domain.ru" />
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Ваш вопрос..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
