{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block root_section %}
    <div class="conainer-fluid incutted">
        <div class="row product">
            <header class="container-fluid" style="background-image: url(/media/_custom_test.jpg)"></header>

            <div class="row">
                <section class="container summary">
                    <div class="row">
                        <div class="item">
                            <img src="{% static 'images/Dinner.svg' %}" vspace="4px" class="icon_48 pull-left" />
                            <div>
                                <big>{$ product.dishes.length $} блюд</big>
                                <small>{$ _weight $} гр. на человека</small>
                            </div>
                        </div>
                        <div><span class="fa fa-remove"></span></div>
                        <div class="item">
                            <img src="{% static 'images/Avatar.svg' %}" vspace="10px" class="icon_48 pull-left" />
                            <div>
                                <big>{$ product.person_num $} персон</big>
                                <small><a href="javascript:void(0)">Оформить приглашения</a></small>
                            </div>
                        </div>
                        <div><span>=</span></div>
                        <div class="item">
                            <div class="price">
                                <big><strong>{$ getTotalCost(product) $} руб.</strong></big>
                                <small>{$ _price $} руб. на человека</small>
                            </div>
                        </div>
                        <div class="price pull-right"><a class="btn btn-lg btn-success">Оформить заказ</a></div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
