{% extends "base.html" %}
{% load thumbnail %}

{% block root_section %}
    <div class="container">
        <div class="row dish">
            {% thumbnail dish.image "600" crop="center" as img %}
				{{ img.url }}
                <div id="dishImage" class="col-lg-6 col-md-6 col-sm-9 col-xs-9 opacube" style="background-image: url({{ img.url }})"></div>
            {% endthumbnail %}
            <article class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-xs-offset-6">
                <div class="opacube"></div>
                <header class="row">
                    <div class="col-xs-12">
                        <h2>{{ dish.title }}</h2>
                        <a href="/menu/#group{{dish.group.id}}" class="label label-link">{{ dish.group.title }}</a>
                        <a class="label label-default">{{ dish.str_serving }}</a>
                    </div>
                </header>
                <section class="row">
                    <div class="col-xs-12">
                        <p>{{ dish.desc }}</p>
                    </div>
                </section>
                <footer class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 weight">
                        {% if dish.ingredients %}
                            <div class="ingridients">
                                {% for i in dish.dishingredients_set.all %}
                                    {% if not forloop.first %}<span class="sprt">/</span>{% endif %}
                                    <span class="weight" data-toggle="tooltip" data-placement="top" title="{{ i.ingredient.title }}">{{ i.ingredient_weight }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-6 col-xs-5">
                        <div class="pull-right">
                            {% if orders %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success">Добавить к заказу</button>
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        {% for order in orders %}
                                            {% if dish not in order.dishes.all %}
                                                <li><a href="/orders/{{ order.number }}/">{{ order.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <button type="button" class="btn btn-success">Заказать блюдо</button>
                            {% endif %}
                        </div>
                    </div>
                </footer>
                {% comment %}
                {% if prod %}
                    <div class="row">
                        {% for p in prod %}
                            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2">
                                <div class="thumbnail">
                                    {% thumbnail p.image "200x200" crop="center" as img %}
                                        <a href="/products/{{ p.id }}/"><img src="{{ img.url }}"></a>
                                    {% endthumbnail %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endcomment %}
            </article>
        </div>
    </div>
{% endblock %}

{% block JSBottom %}
    <script>$("[data-toggle=\"tooltip\"]").tooltip()</script>
{% endblock %}