{% extends "base.html" %}
{% load thumbnail %}

{% block root_section %}
    <div class="conainer-fluid incutted">
        <section id="product-slides" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for product in products %}
                    <li data-target="#product-slides" data-slide-to="{{ forloop.counter0 }}"{% if not forloop.counter0 %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner" role="listbox">
                {% for product in products %}
                    <div class="item{% if forloop.counter == 1 %} active{% endif %}">
                        {% thumbnail product.image "1600x520" crop="top" as img %}
                            <img src="{{img.url}}" alt="{{ product.slogan }}">
                        {% endthumbnail %}
                        <div class="carousel-caption">{{ product.title }}</div>
                    </div>
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#product-slides" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">влево</span>
            </a>
            <a class="right carousel-control" href="#product-slides" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">вправо</span>
            </a>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <span class="text-center">
                <h2>Добро пожаловать</h2>
                <h1>Кейтеринговая компания «Canapet»</h1>
            </span>
        </div>
    </div>
    <div class="container-fluid incutted collections">
        <div class="container">
            {% for collection in collections %}
                <article class="col-xs-4">
                    <h3>{{ collection.title }}</h3>
                    <p>Лучший кухня традиционные рецепты и классические блюда</p>
                    <p>{{ collection.html }}</p>
                    {% thumbnail collection.image "360x300" crop="center" as img %}
                        <img src="{{img.url}}" alt="{{ collection.desc }}">
                    {% endthumbnail %}
                    <a href="#">Подробнее</a>
                </article>
            {% endfor %}
        </div>
    </div>
    <div class="container contacts">
        <div class="row">
            <div class="col-xs-4">XXX</div>
            <div class="col-xs-8">YYY</div>
        </div>
    </div>
{% endblock %}
