{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}


{% block root_section %}
    <div class="container" ng-controller="OrderMenuController" ng-init="init()">
        <div class="row">
<!--             <div id="groups-menu" class="col-lg-2 hidden-md hidden-sm hidden-xs hidden-print">
                {% comment %}
                <nav class="affix" data-spy="affix">
                    {% for group in dish_groups %}
                        <li><a href="#group{{ group.id }}">{{ group.title }}</a></li>
                    {% endfor %}
                </nav>
                {% endcomment %}
            </div>
 -->
            <section class="col-lg-8 col-md-8 col-xs-12">
                <h2>Доступные блюда</h2>
                <div class="row">
                    <div class="col-xs-11 pricelist tpl-data">
                        {% for group in dish_groups %}
                        <div data-id="{{ group.id }}" class="row dish-category">
                            <h3>{{ group.title }}</h3>
                            <menu class="col-xs-12">
                                {% for dish in group.dishes.all %}
                                <div data-id="{{ dish.id }}" price="{{dish.price}}" title="{{dish.title}}" serving="{{dish.serving}}" class="row dish-item">
                                    <div class="col-lg-10 col-md-10 col-xs-10"><a href="/dishes/{{ dish.id }}">{{ dish.title }}</a></div>
                                    <div class="col-lg-2 col-md-2 col-xs-2 price-order">
                                        <div class="pull-right text-nowrap">
                                            <span class="price">{{ dish.price }} руб</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </menu>
                        </div>
                        {% endfor %}
                    </div>

					{# BEGIN: Angular-меню #}
                    <div class="col-xs-11 pricelist ang-data">
                        <div id="group{$ group.id $}" class="row" ng-repeat="group in groups">
                            <h3>{$ group.title $}</h3>
                            <menu class="col-xs-12">
                                <div class="row dish-item" ng-repeat="dish in displayableDishes[group.id]">
                                    <div class="col-lg-10 col-md-10 col-xs-10"><a href="/dishes/{$ dish.id $}">{$ dish.title $}</a></div>
                                    <div class="col-lg-2 col-md-2 col-xs-2 price-order">
                                        <div class="pull-right text-nowrap">
                                            <span class="price">{$ dish.price $} руб</span>
                                            <a href="javascript: void(0);" class="fa fa-plus-circle" ng-click="orderDish(dish)"></a>
                                        </div>
                                    </div>
                                </div>
                            </menu>
                        </div>
                    </div>
					{# END: Angular-меню #}
                </div>
            </section>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs hidden-print cross-products">
                <div class="order" ng-show="order.dishes.length">
                    <h2>Мой заказ <small class="pull-right">№ {$ order.number $}</small></h2>
                    <table class="table table-striped order">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Блюдо</th>
                                <th>Кол-во</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dish in order.dishes">
                                <td>{$ ($index + 1) $}</td>
                                <td>{$ dish.__extra__.title $}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="fa fa-minus-circle" ng-click="unorderDish(dish.__extra__)"></a>
                                        <span class="qty">{$ dish.qty $}</span>
                                        <a class="fa fa-plus-circle" ng-click="orderDish(dish.__extra__)"></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-md btn-success" ng-click="saveOrder()" ng-hide="{$ order.id $}">Сохранить заказ</button>
                                    <button class="btn btn-md btn-success" ng-click="saveOrder()" ng-show="{$ order.id $}">Обновить заказ</button>
                                </td>
                                <td><nowrap><strong>{$ totalCost $} руб.</strong></nowrap></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <h2>Готовые меню</h2>
                {% for product in products %}
                    <div class="thumbnail product-link">
                        {% thumbnail product.image "450x200" crop="center" as img %}
                            <img src="{{ img.url }}">
                        {% endthumbnail %}
                        <div class="caption">
                            <h3>{{ product.title }}</h3>
                            <p>{{ product.html }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}
