{% extends "base.html" %}
{% load thumbnail %}


{% block root_section %}
    <div class="container content">
        <div class="row order">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div id="in_progress">
                    <h3>
                        {% if order.status == 'in_progress' %}
                            Оформление заказа № {{ order.number }}
                        {% else %}
                            Заказ №{{ order.number }} «{{ order.title }}» {{ order.str_status }}
                            {% if order.status == 'denied' %}
                                <i class="glyphicon glyphicon-remove pull-right text-danger"></i>
                            {% else %}
                                <i class="glyphicon glyphicon-ok pull-right text-success"></i>
                            {% endif %}
                        {% endif %}
                    </h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Блюдо</th>
                                <th>Цена</th>
                                <th>Кол-во</th>
                                <th>Стоимость</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for od in order.inorder_set.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ od.dish.title }}</td>
                                    <td>{{ od.dish.price }} руб.</td>
                                    <td>{{ od.qty }} шт.</td>
                                    <td>{{ od.cost }} руб.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4"><big><strong>Итого:</strong></big></td>
                                <td><big><strong>{{ order.total_cost }} руб. 00 коп</strong></big></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% if order.status == 'in_progress' %}
                    <form name="orderForm" method="POST" action="/orders/{{ order.number }}/issued/">
                        {% csrf_token %}
                        <div id="customer" class="well">
                            <h3>Данные заказчика</h3>
                            <div class="row">
    	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
    								<label for="email">Электронная почта</label>
    								<input type="text" name="email" placeholder="me@domain.com" class="form-control" value="{{ customer.user.email }}" />
    	                        </div>
    	                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">
    	                            <label for="user_name">Ф.И.О.</label>
    	                            <input type="text" name="user_name" placeholder="Фамилия Имя Отчество" class="form-control" value="{{ customer.first_name }} {{ customer.last_name }}" />
    	                        </div>
    	                    </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                                    <label>Контактный телефон</label>
                                    <div class="form-group">
                                        <input type="text" name="phone_number" placeholder="(999) 1234567" class="form-control" value="{{ customer.phone }}" />
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">
                                    <label for="address">Адрес доставки</label>
                                    <input type="text" name="address" placeholder="СПб, Невский пр-кт, д. 1" class="form-control" value="{{ customer.phone }}" />
                                </div>
                            </div>
                            <div class="big-control"><input id="remember" type="checkbox" name="remember" checked="1" /> <label for="remember">Сохранить данные клиента</label></div>
                        </div>
                        <div id="promo">
                            <h3>Оформление мероприятия</h3>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#collections" aria-controls="collections" role="tab" data-toggle="tab">Коллекция</a></li>
                                <li role="presentation"><a href="#invitations" aria-controls="collections" role="tab" data-toggle="tab">Приглашения</a></li>
                                <li role="presentation"><a href="#promo-page" aria-controls="collections" role="tab" data-toggle="tab">Промо-страница</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="collections">
                                    <div class="container-fluid collections">
                                        {% for collection in collections %}
                                            <article class="col-xs-4 text-center">
                                                <h3>{{ collection.title }}</h3>
                                                <p>{{ collection.html }}</p>
                                                {% thumbnail collection.image "200x200" crop="center" as img %}
                                                    <img src="{{img.url}}" class="img-circle" alt="{{ collection.desc }}">
                                                {% endthumbnail %}
                                                <a href="#">Подробнее</a>
                                            </article>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="invitations">

                                </div>
                                <div role="tabpanel" class="tab-pane" id="promo-page">

                                </div>
                            </div>
                        </div>
                        <div id="issued">
                            <h3>Подтверждение</h3>
                            <div class="alert alert-{% if order.status == 'in_progress' %}warning{% else %}success{% endif %}">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <div class="big-control"><input id="status_issued" type="checkbox" name="status" value="" /> <label for="status_issued">Согласен и подтверждаю</label></div>
                            </div>
                        </div>
                        <div id="delivered"></div>
                        <div class="row">
        					<div class="col-xs-6 col-md-6 col-sm-6 col-xs-6"><input type="button" value="Удалить заказ" class="btn btn-sm btn-danger" /></div>
        					<div class="col-xs-6 col-md-6 col-sm-6 col-xs-6"><span class="pull-right"><input type="submit" value="Оформить заказ" class="btn btn-lg btn-success" /></span></div>
        				</div>
                    </form>
                {% else %}
                    <div id="customer">
                        <h3>Данные заказчика</h3>
                        <table class="table table-striped">
                            <tr>
                                <td width="20%" class="text-right">Электронная почта</td>
                                <td>{{ customer.user.email }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Ф.И.О.</td>
                                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Контактный телефон</td>
                                <td>{{ customer.phone }}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Адрес доставки</td>
                                <td>{{ customer.phone }}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-2 col-md-2 sm-hidden xs-hidden">
                <nav class="affix" data-spy="affix" data-offset-top="0" data-offset-bottom="200">
                    <li><a href="#in_progress">Детали заказа</a></li>
                    <li><a href="#customer">Данные заказчика</a></li>
                    {% if order.status == 'in_progress' %}
                        <li><a href="#promo">Оформление</a></li>
                        <li><a href="#issued">Подтверждение</a></li>
                        <li><a href="#delivered">Доставка</a></li>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
