{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block root_section %}
    <div class="conainer-fluid incutted" ng-controller="OrderProductController" ng-init="init({{ product.id }})">
        <div class="row product">
            {% thumbnail product.image "1600x320" crop="top" as img %}
                <header class="container-fluid" style="background-image: url({{ img.url }})">
                    <div id="opacube-header-top" class="opacube border"></div>
<!--                    <div id="opacube-header-bottom" class="opacube border"></div>-->
                    <div class="content-footer">
                        <div id="calcHeader" class="row">
                            <div class="col-xs-6 col-md-5">
                                <div class="prep-prop">
                                    {% if product.slogan %}
                                        <div class="pull-right headers-wrapper">
                                            <div class="row no-margin">
                                                <div class="span12 first-header">
                                                    {{ product.title }}
                                                </div>
                                            </div>
                                            <div class="row no-margin">
                                                <div class="span12 second-header">
                                                    {{ product.slogan }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="container"><h1 class="lonely">{{ product.title }}</h1></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-5 hidden-sm details">
                                <i class="fa fa-remove"></i>
                                <big>{$ order.person_num $}</big>
                                <div class="controls">
                                    <a href="javascript: void(0);" class="fa fa-plus-circle" ng-click="addPerson(order)"></a>
                                    <a href="javascript: void(0);" class="fa fa-minus-circle" ng-click="remPerson(order)"></a>
                                </div>
                                <i>=</i>
                                <span class="price">
                                    <big>{$ getTotalCost() $}</big>
                                    <small>руб.</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </header>
            {% endthumbnail %}

            <div class="row">
                <section class="container summary">
                    <div class="row">
                        <div class="item">
                            <img src="{% static 'images/Dinner.svg' %}" vspace="4px" class="icon_48 pull-left" />
                            <div>
                                <big>{$ personCount $} блюд</big>
                                <small>{$ personWeight $} гр. на человека</small>
                            </div>
                        </div>
                        <div><span class="fa fa-remove"></span></div>
                        <div class="item">
                            <img src="{% static 'images/Avatar.svg' %}" vspace="10px" class="icon_48 pull-left" />
                            <div>
                                <big>{$ order.person_num $} персон</big>
                                <small><a href="javascript:void(0)">Оформить приглашения</a></small>
                            </div>
                        </div>
                        <div><span>=</span></div>
                        <div class="item">
							<div class="price">
                                <big><strong>{$ totalCost $} руб.</strong></big>
                                <small>{$ personCost $} руб. на человека</small>
							</div>
                        </div>
						<div class="price pull-right"><a class="btn btn-lg btn-success">Оформить заказ</a></div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="container-fluid dishes">
                    <div class="row">
                        <div class="container">
                            <div data-id="{{ product.id }}" class="row tpl-data">
                                {% for dish in product.dishes.all %}
                                    <div data-id="{{ dish.id }}" title="{{ dish.title }}" price="{{ dish.price}}" class="col-lg-4 col-sm-6 col-xs-12 thumb">
                                        <div>
                                            {% thumbnail product.image "110x110" crop="center" as img %}
                                                <img dish-id={{ dish.id }} class="img-circle pull-left" src="{{ img.url }}">
                                            {% endthumbnail %}
                                            <div class="caption">
                                                <h4>{{ dish.title }}</h4>
                                                <div class="bottom">
                                                    <big>{{ dish.price }} руб.</big>
                                                    <small>120/80/10</small>
                                                </div>
						                        <div class="multiply">
						                            <i class="fa fa-remove"></i>
						                            <big>{{ dish.ordered.qty }}</big>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            {# BEGIN: Angular-список #}
<!--
                             <div class="row" ng-repeat="group in groups">
                                <div class="container">
                                    <div class="col-xs-1">
                                        <h2 class="text-vertical">{$ group.title $}</h2>
                                    </div>
                                    <div class="col-xs-11">
 -->
                                        <div class="row ang-data">
                                            <div data-id="{{ dish.id }}" class="col-lg-4 col-sm-6 col-xs-12 thumb" ng-repeat="dish in order.dishes">
                                                <!-- <img class="img-circle pull-left" src="{$ dish.thumb $}"> -->
                                                <div class="caption">
                                                    <h4>{$ dish.__extra__.title $}</h4>
                                                    <div class="bottom">
                                                        <big>{$ dish.__extra__.price $} руб.</big>
                                                        <small>{$ dish.output $}</small>
                                                    </div>
                                                    <div class="multiply">
                                                        <i class="fa fa-remove"></i>
                                                        <big>{$ dish.qty $}</big>
                                                        <div class="controls">
                                                            <a href="javascript: void(0);" class="fa fa-plus-circle" ng-click="orderDish(dish.__extra__)"></a>
                                                            <a href="javascript: void(0);" class="fa fa-minus-circle" ng-click="unorderDish(dish.__extra__)"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<!--
                                    </div>
                                </div>
 -->
                            {# END: Angular-список #}

                        </div>
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="container">
	                <table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th></th>
								<th>вес, гр.</th>
								<th>цена, руб.</th>
							</tr>
						</thead>
	                    <tbody>
	                        <tr>
	                            <td>на одного</td>
	                            <td>{$ _weight $}</td>
	                            <td>{$ _price $}</td>
	                        </tr>
	                        <tr>
	                            <td>на всех</td>
	                            <td>{$ getTotalWeight(product) $}</td>
	                            <td>{$ getTotalCost(product) $}</td>
	                        </tr>
	                    </tbody>
	                </table>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
