{% extends "base.html" %}

{% block root_section %}
    <div class="container">
        {% block content %}
            <br/><pre class="text-center">Здесь должны располагаться внутренности статического раздела.</pre>
        {% endblock %}
    </div>
{% endblock %}