@import "vars.less";

/* Override Twitter Bootstrap default styles */
.navbar-nav > li > a, li.open {
    &:hover {
        background: transparent;
    }
}

.dropdown-menu > li > a:hover {
    color: white;
    background: @content-active;
}


/* Глобальные стили */
a:hover { cursor: pointer; }

.opacube {
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba(255, 255, 255, 0.5);

    & ~ * { position: relative; }
}

.label-link {
    background-color: @brand-primary;
}

.ang-data {
    display: none;
}

figure {
    margin-bottom: 30px;
}

body {
    background: @body-bgcolor url("@{static-images}/pattern_body.png") repeat;
    font: 1.6em @roboto-family;
    color: @body-color;

    & > header {
        height: @header-height;
        color: @header-color;
        background: @header-bgcolor;  // url("@{static-images}/pattern_top.png") repeat;

        & > nav {
            margin-top: 28px;
            text-transform: uppercase;
            font-family: @robotoc-family;
            font-size: 1.1em;

            a {
                color: @header-link;

                &:hover {
                    color: @content-active;
                }
            }
        }

        .navbar-right {
            padding-right: 10px;
        }
    }

    & > footer {
        height: @header-height;
        & nav.navbar {

            & .navbar-nav  {
                margin: 0 auto;
                display: table;
                table-layout: fixed;
                float: none;
            }
        }
    }

    & > section {
        background-color: @content-bgcolor;

        & > .container { padding: (@content-padding-top/2) 0};
        & > .container-fluid { padding: @content-padding-top 0};
        & > .container-fluid.incutted {padding-top: 0}
    }
}

h1, h2, h3 {
    font-family: @robotoc-family;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h2 {
    color: @brand-color;
}

h3 {
    color: @brand-secondary;
}

a {
    &:hover {
        color: @content-active;
    }
}

.badge {
    margin-top: 1px;
    vertical-align: top;
    background-color: @brand-color;
}
