@import "product.less";

@content-padding: 20px;
@content-header-height: 500px;
@header-light-rgba: rgba(230, 217, 200, 0.5);
@header-dark-rgba: rgba(0, 0, 0, 0.5);
@summary-color: #4A4A4A;


body > header {
    left: 0; right: 0;
    position: absolute;
    color: transparent;
    background: none;
}
