@import "base.less";

@content-height: 400px;


.dish {
    position: relative;
    
    & > #dishImage {
        background-color: @content-bgcolor;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    & > article {
        min-height: @content-height;
        
        & > .opacube {background-color: rgba(255, 255, 255, 0.85)}
        
        & > header {
            min-height: @content-height / 3;
        }
        
        & > section {
            min-height: @content-height / 2;
        }

        & > footer {
            padding-bottom: @content-padding-top / 3;
        }
    }
}