@import "product.less";

@content-header-height: 450px;

.carousel-inner {
    height: @content-header-height;
    .item {
        img {
            width: 100%;
        }
    }
}

.collections {
    background-color: @conent-bgcolor-alt;
}
