@import "base.less";


.affix, .affix-top, .affix-bottom {
    margin-top: 120px;
    position: fixed;
    
    li {
        font-family: @robotos-family;
        text-align: right;
        list-style-type: none;
        
        & > a {
            color: @brand-secondary;
            
            &:hover {
                color: @content-active;
            }
        }
    }
}

.pricelist {
    
    menu {
        margin: 0;
        padding: 0;

        .dish-item {
        	padding: 3px 0;
            font-family: @robotos-family;
            
            a {
                color: @body-color;
                
                &:hover {
                    color: @content-active;
                    text-decoration: none;
                }
            }

            .price-order {
                padding: 0;
            }

            &:hover {
                color: @content-active;
            }
        }
    }
}

.product-link {
    font-family: @roboto-family;
    font-size: 0.9em;
    line-height: 1.2em;
    border: none;
    
    & > .caption {
        padding: 0;
        border-bottom: 1pz solid @brand-color;
    }
}

.order {
	font-size: small;
	
	.qty {
		padding: 0 3px;
	}

	a {
	    color: @body-color;
        text-decoration: none;
	    
	    &:hover {
	        color: @content-active;
	        text-decoration: none;
	    }
	}
}