@import "base.less";

@content-padding: 20px;
@content-header-height: 300px;
@header-light-rgba: rgba(230, 217, 200, 0.5);
@header-dark-rgba: rgba(0, 0, 0, 0.5);
@summary-color: #4A4A4A;

.product {

    & > header {
        position: relative;
        height: @content-header-height;
        background-size: cover;
        background-position: center top;

        & > .opacube.border {
            height: 5px;
            background-color: rgba(230, 217, 200, 0.5);
        }

        & > #opacube-header-top {top: 0;}
        & > #opacube-header-bottom {bottom: 0;}

        .prep-prop {
            position: relative;

            .headers-wrapper {

                .first-header {
                    color: #ffffff;
                    font-size: 42px;
                    background-color: @header-light-rgba;
                    text-align: right;
                    padding: 0 15px;
                }

                .second-header {
                    color: #ffffff;
                    font-size: 30px;
                    background-color: @header-dark-rgba;
                    text-align: right;
                    padding: 0 15px;
                }
            }
        }
    }
}

.content-footer {
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    position: absolute;
    right: 0;
}

#calcHeader {
    // margin-top: @content-header-height / 2;

    & .details {
        padding-top: 10px;
        color: rgba(230, 217, 200, 1);
        font-size: 46px;

        & > i.glyphicon {
            font-size: 36px;
        }

        & > big {
            font-weight: bold;
            letter-spacing: -4px;
        }

        & > small {
            font-size: 32px;
            letter-spacing: -2px;
        }

        .controls {
            display: inline-block;
            font-size: 23px;

            a {
                display: block;
                color: rgba(230, 217, 200, 1);
                &:hover {
                    text-decoration: none;
                    color: @brand-color;
                }
            }
        }

        .price {
            color: rgba(0, 0, 0, 0.8);
            & > big {
                letter-spacing: -4px;
            }
        }
    }
}

.summary {
	position: relative;
    padding:(@content-padding-top / 10) 0;
	color: @summary-color;

	& > .row {
		position: relative;
		text-align: center;
		vertical-align: top;

		div {
			display: inline-block;
			position: relative;

			&.item {

				& > div {
					margin-top: 20px;
					padding-left: 10px;
					text-align: left;
					line-height: 18px;
					font-family: "Helvetica Neue", "Helvetica", "sans-serif";

					* {
						display: block;
						white-space: nowrap;
					}
				}
			}

			& > span {
				margin: 0 15px;
				font-size: 24px;
				font-weight: bold;

				&.price {
					font-family: "";
				}
			}
		}

		& > .price {
			margin-top: 10px;
		}
	}
}

.dishes {
    background-color: @body-bgstrip;
    padding: @content-padding * 2 0;

    .thumb {
        position: relative;
        margin: 15px 0;
        height: 110px;

        .caption {
            margin-left: 130px;
            padding-top: 2px;

			& > h4 {
				line-height: 0.85em;
			}

            .bottom {
                position: absolute;
                bottom: 10px;

                & > big {
                    display: block;
                    font-weight: bold;
					line-height: 0.8em;
                }
            }

			.multiply {
				position: absolute;
				bottom: 10px;
				right: 100px;

				& > i {
					font-size: 24px;
				}

		        & > big {
					font-size: 42px;
		            font-weight: bold;
		            letter-spacing: -4px;
					line-height: 20px;
		        }

		        .controls {
		            display: inline-block;
		            font-size: 18px;

		            a {
		                display: block;
		                &:hover {
		                    text-decoration: none;
		                    color: @brand-color;
		                }
		            }
		        }
			}
        }
    }
}

.icon_48 {
    height: 48px;
}
