@import "bootstrap/bootstrap.less";
@import "fonts.less";

/* FILES */
@static-root: "/static";
@static-images: "@{static-root}/images";
@FontAwesomePath: "../fonts";


/* FONTS */
@helvetica-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
@robotos-family: 'Roboto Slab', serif;
@robotoc-family: 'Roboto Condensed', sans-serif;
@roboto-family: 'Roboto', sans-serif;


/* BRAND */
@brand-color: #6D575A;
@brand-secondary: #444444;


/* DOM */
@gridhelper-column: rgba(255, 255, 255, 0.5);

@body-color: #797878;
@body-bgcolor: rgb(247, 245, 242);
@body-bgstrip: rgb(250,248,244);

@header-color: #5E3C3D;
@header-bgcolor: rgb(242, 237, 226);
@header-height: 110px;
@header-link: #6e575a;

@content-bgcolor: white;
@conent-bgcolor-alt: rgb(250,248,244);
@content-padding-top: 70px;
@content-link: @body-color;
@content-active: #66AD81;
@content-offset: 20px;
